<div class="banner">
	<div class="banner-slider" >
		<div class="container">
		 	<div id="top" class="callbacks_container">
				<ul class="rslides" id="slider4">
				

				      <li>
					     <div class="banner-info">
							<div class="banner-right-agileits">
								<h3 >Empreendedor</h3>
							   	<p>Nós criamos do zero as ferramentas que irão automatizar seu negócio, integramos com vários meios de pagamentoe outros sistemas de ERP</p>
							   	<a href="#services" class="scroll banner-button" >Nossos Serviços</a>
								 
							 </div>
						 </div>
					 </li>					 
					 <li>
						<div class="banner-info">
							<div class="banner-right-agileits">
								<h3>Startups</h3>
								 <p>Um de nossos serviços de consultoria vai te atender. Tire suas idéias do papel.</p>
								 <a href="#adopt" class="scroll banner-button" >Faça um orçamento</a>
							</div>	
						</div>							
					 </li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>