<div class="adopt" id="adopt">
	<div class="container">
	<h3 class="tittle">Consultoria</h3>
	<div class="adopt-top">
		<div class="col-md-4 adopt-text-agileits-w3layouts"">
		<img src="assets/images/consultoria.png">
		
		</div>
		<div class="col-md-8 adopt-text-agileits-w3layouts">

			<p class="para-w3-agileits">Tem uma idéia e não sabe por onde começar? Nosso serviço de consultoria te orienta em toda a etapa de criação do seu produto e sua chegada ao mercado. Confira como podemos te ajudar:</p>

			<ul class="about-agile">
			<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Orientações para Elaboração do CANVAS</li>
			<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Orientações para Elaboração do Plano de Negócios</li>
			<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Orientações para Escolha de tecnologias para o projeto</li>
			<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Orientações para Implantação de e-commerce(meios de pagamento e segurança)</li>
			</ul>

			<p class="para-w3-agileits"></p>
			</div>		
		<div class="clearfix"></div>
	</div>
	
</div>
</div>