<div class="contact-agile" id="contact">
	<div class="container">
		<h3 class="tittle">Contato</h3>
		
		<div class="contact-middle">
			<div class="col-md-4 services-text-agileits-w3layouts" style="text-align:center;">
				<img src="assets/images/orcamento.png" style="width:50%;"/>
				<p></p>
				<h6 class="subheading-w3ls" style="text-align:center;">Orçamento</h6>
				<p >
				<a href="https://goo.gl/forms/MD9Q97Yj7qJfkf7o1" target="_blank" class="banner-button" >Cotar</a>
				</p>

			</div>

			<div class="col-md-4 services-text-agileits-w3layouts" style="text-align:center;">
				<img src="assets/images/email.png" style="width:50%;"/>
				<p></p>
				<h6 class="subheading-w3ls" style="text-align:center;">Mensagem</h6>
				<p style="text-align:center;">
				<a href="https://goo.gl/forms/VjiDc6ae5I7kVXOM2" class="banner-button" target="_blank" >Escrever</a>
				</p>
			</div>

			<div class="col-md-4 services-text-agileits-w3layouts" style="text-align:center;">
				<img src="assets/images/facebook.png" style="width:50%;"/>
				<p></p>
				<h6 class="subheading-w3ls" style="text-align:center;">Redes Sociais</h6>
				<p style="text-align:center;">
				<a href="{{ site.facebook_page}}" target="_blank" class="banner-button" >Acessar</a>
				</p>
			</div>

		</div>
	</div>
</div>