<div class="adopt development" id="development">
	<div class="container">
	<h3 class="tittle">Desenvolvimento</h3>
	<div class="adopt-top">
		

		<div class="col-md-12 adopt-text-agileits-w3layouts">

			<ul class="nav nav-tabs" id="myTabs">
			  <li class="active"><a href="#metodologia"><h6 class="subheading-w3ls">Metodologia de trabalho</h6></a></li>
			  <li><a href="#tecnologias"><h6 class="subheading-w3ls">Tecnologias</h6></a></li>
			</ul>

			<div class="tab-content">
		    	<div role="tabpanel" class="tab-pane fade in  active" id="metodologia">
		    	<div class="col-md-8 ">
		    		<br>
		    		<p class="para-w3-agileits">Somos muito transparentes em todo o processo de desenvolvimento do software e utilizamos muitas tecnologias pra auxiliar na comunicação e no gerenciamento do ciclo de vida dos produtos que criamos.</p>

					<ul class="about-agile">
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Video conferências periódicas via Hangouts ou Skype</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Comunicação instantânea do projeto via Slack</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Testes contínuos a cada nova funcionalidade</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Acompanhamento da evolução do projeto via Trello</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Implantação e distribuição do software</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Se for seu caso, publicamos no Google Play</li>

					</ul>

					<p class="para-w3-agileits"></p>
		    	</div>
		    	<div class="col-md-4 ">
		    		<img src="assets/images/ferramentas-integracao-continua.png" style="width:100%;">
		    	</div>											
		    	</div>
		    	<div role="tabpanel" class="tab-pane fade  " id="tecnologias">
		    		<div class="col-md-8 ">
			    		<br>
			    		<p class="para-w3-agileits">Continuamente nos capacitamos para melhor realizar nossos projetos. Abaixo está uma lista das tecnologias que utilizamos diariamente em nossos clientes:</p>

						<ul class="about-agile">
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i><b>Linguagens:</b> HTML, CSS, Javascript, PHP, C#, Java, Arduino</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Frameworks: Angular, Ionic, Node.js, Jasmine, PHP Unit</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Integração contínua: Travis, Jenkins, GitLab, GitHub.</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Cloud Computing: Amazon AWS e Digital Ocean</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Armazenamento de dados: MySQL, SQL Server, MongoDB, Firebase, Neo4j</li>
						</ul>

						<p class="para-w3-agileits"></p>
					</div>
					<div class="col-md-4 ">
			    		<img src="assets/images/codigo.png" style="width:100%;">
			    	</div>	
		    	</div>

		    </div>	
		</div>	
		<p class="para-w3-agileits" style="text-align:center;">
				<a href="#contact" class="scroll banner-button" >Ótimo, quero contratar!</a>
			</p>
		
		<div class="clearfix"></div>
	</div>
	
</div>
</div>