<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div class="col-md-8 footer-w3layouts">
	<div class="footer-top-agile">
		<h2><a href="index.html">{{ site.title }}</a></h2>
		<div class="footer-contact-w3ls">
			<p class="num-w3ls">+55 (33) 3021 6384</p>
			<p class="email-w3l">Skype: janynne.gomes</p>
			<p class="email-w3l">Skype: joelgarciajr84</p>
			
		</div>
	</div>
	<div class="clearfix"></div>

{% assign page_paths = site.header_pages | default: default_paths %}	   

<div class="footer-bottom-wthree">
<div class="nav-footer-w3l">
	<a href="#home" class="scroll">Home</a>
	<a href="#services" class="scroll">Serviços</a>
	<a href="#adopt" class="scroll">Consultoria</a>
	<a href="#about" class="scroll">Sobre</a>	
	<a href="#contact" class="scroll">Contato</a>
</div>

<div id="SkypeButton_Call_joelgarcia19894_1" class="skype-button footer-button">
	<script type="text/javascript">
		 Skype.ui({
		 "name": "chat",
		 "element": "SkypeButton_Call_joelgarcia19894_1",
		 "participants": ["joelgarcia19894"],
		 "imageSize": 32
		 });
		 </script>
</div>
<div class="clearfix"></div>
</div>
</div>
<div class=" col-md-4 map-w3ls">
<div class="address-agileinfo">
<h6 class="subheading-w3ls two">Endereço</h6>
<p>Rua Goiás, 73, Governador Valadares, MG. Brasil.</p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4362.044734684408!2d-41.96245913534057!3d-18.86447970414005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1502221963093" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="clearfix"></div>
<div class="copy">
    <p>© 2017 Todos os direitos reservados</p>
</div>