<div class="gallery" id="gallery">
	<div class="container">
	<h3 class="tittle">Clientes & Parceiros</h3>
		<div class="agile_gallery_grids w3-agile">
				<ul class="clearfix demo">
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-leliobraga.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-stalks.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-semfronteiras.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-ohgarcom.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-cartao-da-familia.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-clinica-da-familia.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-lysdesign.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="assets/images/cliente-inove.svg" alt=" " class="img-responsive" />
							
						</div>
					</li>

					
					
				
				</ul>
			</div>
	</div>
</div>