  <div id="house" class="top-header">
        <div class="col-md-6 logo-w3l w32">
          <h1 class="location logo"><a href="{{ site.url }}">{{ site.title }}</a></h1>
        </div>
        <div class="col-md-6 logo-w3l w31 sea">
          <div class="right-w3l">
            <ul class="top-links">
              <li><a href="{{ site.facebook_page}}"><i class="fa fa-facebook" target="_blank"></i></a></li>
              <li><a href="https://github.com/{{ site.github_username}}" target="_blank"><i class="fa fa-github"></i></a></li>
              <li><a href="#"><i class="fa fa-wordpress" target="_blank"></i></a></li>
            </ul>
          </div>
            <div class="w3ls_search">
        <div class="cd-main-header">
          <ul class="cd-header-buttons">
            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
          </ul> <!-- cd-header-buttons -->
        </div>
        <div id="cd-search" class="cd-search">
          <form action="#" method="post">
            <input name="Search" type="search" placeholder="Click enter after typing">
          </form>
        </div>
      </div>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <!--bottom-->
    <div class="button">
      <button id="showLeftPush"><img src="{{ site.url }}/assets/images/menu.png" alt=""></button>
    </div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <h3>Menu</h3>
        <a href="#home" class="scroll">Home</a>
        <a href="#services" class="scroll">Serviços</a>
        <a href="#adopt" class="scroll">Consultoria</a>
        <a href="#development" class="scroll">Desenvolvimento</a>
          <a href="#gallery" class="scroll">Clientes & Parceiros</a>
        <a href="#contact" class="scroll">Fale conosco</a>
    </nav>
