	<div class="team" id="team">
	<div class="container-fluid">
			<h3 class="tittle">Portfolio</h3>
			<div class="row team-row">
					<div class="col-md-6 team-grids">
						<div class="thumbnail team-w3agile">
							<img src="assets/images/t1.svg" class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>OH Gaçom</h4>
								<p>Startup saindo do forno</p>						
							</div>
								<ul class="top-links">
										<li><a href="#"><i class="fa fa-download"></i></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-6 team-grids">						
						<div class="thumbnail team-w3agile">
							<img src="assets/images/t5.svg" class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>Horário de Aulas</h4>
								<p>Utilitário para estudantes organizarem seus horários de aula</p>						
							</div>
								<ul class="top-links">
									<li><a href="#"><i class="fa fa-download"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
								

					<div class="col-md-6 team-grids">						
						<div class="thumbnail team-w3agile">
							<img src="assets/images/t3.svg" class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>Clínica da Família GV</h4>
								<p>Chamada de médico em casa usando geolocalização</p>						
							</div>
								<ul class="top-links">
									<li><a href="#"><i class="fa fa-download"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 team-grids">						
						<div class="thumbnail team-w3agile">
							<img src="assets/images/t4.svg" class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>BR Pilot</h4>
								<p>Chamada de médico em casa usando geolocalização</p>						
							</div>
								<ul class="top-links">
									<li><a href="#"><i class="fa fa-download"></i></a></li>
								</ul>
							</div>
						</div>
					</div>




										
					<div class="clearfix"> </div>
				</div>
	</div>
		</div>