<div class="services" id="services">
	<div class="container">
	<h3 class="tittle">Serviços</h3>
	<div class="services-top">
		
		<div class="col-md-4 services-text-agileits-w3layouts">
			<img src="assets/images/s1.svg" style="width:100%;"/>
			<h6 class="subheading-w3ls" style="text-align:center;">Consultoria</h6>
			<p style="text-align:center;">Caminhamos com você desde o início do projeto, ajudando a formatar sua idéia para chegar ao mercado.
			<br/>
			<br/>
			<br/>
			<a href="#adopt" class="scroll banner-button" >Ver mais</a>
			</p>

		</div>
		<div class="col-md-4 services-text-agileits-w3layouts">
			<img src="assets/images/s2.svg" style="width:100%;"/>
			<h6 class="subheading-w3ls" style="text-align:center;">Desenvolvimento</h6>
			<p style="text-align:center;">Utilizando as tecnologias mais adequadas ao seu cenário damos vida às suas idéias de forma transparente e sempre priorizando a qualidade.
			<br/>
			<br/>
			<a href="#development" class="scroll banner-button" >Ver mais</a>

			</p>
		</div>
			<div class="col-md-4 services-text-agileits-w3layouts">
			<img src="assets/images/s3.svg" style="width:100%;"/>
			<h6 class="subheading-w3ls" style="text-align:center;">Treinamentos	</h6>
			<p style="text-align:center;">Oferecemos treinamento In Company ou para grupos fechados com os mais variados temas que usamos em nosso dia-a-dia no desenvolvimento de produtos digitais.
			<br/>
				<span class="banner-button" >Em breve ...</span>
			</p>
		</div>
		
		<div class="clearfix"></div>
	</div>
	
</div>
</div>